.player {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    &.active .player__splash {
        display: none;
    }

    &.paused {
        .player__start {
            width: 12px;
            height: 17px;
            border: none;

            &:after,
            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 5px;
                top: 0;
                bottom: 0;
                background: #fff;
            }

            &:after,
            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 5px;
                top: 0;
                bottom: 0;
                background: #fff;
            }
        }
    }
}

.player__splash {
    position: absolute;
    width: 940px;
    height: 391px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/pictures/normal__player.png) center, no-repeat;
    background-size: 940px, 391px;
    cursor: pointer;
}

.player__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 390px;
    height: 35px;
    background: #3e3e3e;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 25px;
}

.player__start {
    width: 10.92px;
    height: 20.95px;
    top: 8.97px;
    left: 16.95px;
    background: url(./img/pictures/start.png);
}

.player__playback-button {
    width: 739px;
    height: 7px;
    margin-bottom: 12px;
    background: #626262;
}
