.radio {
    display: flex;
    margin-right: 20px;
}

.radio__elem {
    width: 24px;
    height: 24px;
}

.radio__checbox {
    margin-top: 22px;
}

.checkbox {
    width: 24px;
    height: 24px;
}

.radio__title {
    color: #fff;
    margin-left: 3px;
}